@media screen and (min-width: 320px)
	html
		font-size 32px
@media screen and (min-width: 360px)
	html
		font-size 36px
@media screen and (min-width: 375px)
	html
		font-size 37.5px
@media screen and (min-width: 414px)
	html
		font-size 41.4px
@media screen and (min-width: 600px)
	html
		font-size 60px
@media screen and (min-width: 768px)
	html
		font-size 76.8px
@media screen and (min-width: 980px)
	html
		font-size 98px
@media screen and (min-width: 1024px)
	html
		font-size 102.4px